<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello, World</title>
</head>
<body>
	<p>Hello, World</p>
	<!-- <iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=2&bgcolor=%23039BE5&ctz=Europe%2FChisinau&showPrint=0&showCalendars=0&showTz=0&hl=ru&mode=WEEK&showDate=1&showNav=1&showTitle=0&src=b2ZhMmVsczZtY3UwZGY4aXJqdW44Ymp0MmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB" style="border:solid 1px #777" width="1000" height="800" frameborder="0" scrolling="no"></iframe> -->


</body>
</html>